.row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    margin-top: 10px;
}
.full_width{
    width: 100%;
}
img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
button{
    margin-bottom: 10px;
}
.card{
    background-color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }
  button{
    border-color: whitesmoke;
  }
  .home_title{
    text-decoration: none;
  }
  .home_title:visited{
    color: inherit;
  }

