<p>
    <mat-toolbar color="primary">
      <a routerLink="admin" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </a>
      <a class="home_title" routerLink="admin" style="color: white">Job Portal</a>
      <span class="example-spacer"></span>
      <a routerLink="" mat-stroked-button class="example-icon favorite-icon mr20" aria-label="Example icon-button with heart icon">
        Logout
      </a>
    </mat-toolbar>
  </p>
  


<div class="jobs-main">
    <app-jobuser></app-jobuser>
</div>
